@using EmployeeLoanApp.Components.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <!-- If user tries to access a protected page, show Login UI -->
                    <EmployeeLoanApp.Components.Pages.Login />
                </NotAuthorized>
                <Authorizing>
                    <div class="d-flex justify-center align-center" style="height:100vh">
                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="d-flex flex-column align-center justify-center mt-16">
                    <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Size="Size.Large" Color="Color.Error" Style="font-size: 64px;" />
                    <MudText Typo="Typo.h4" Class="mt-4">404 - Page Not Found</MudText>
                    <MudButton Href="/" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">Go Home</MudButton>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>